<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section data-testid="product-tile" class="sc-c17d1bb-8 cCcfgi coles-targeting-ProductTileProductTileWrapper">
        <div class="sc-500ab215-0 gdBZRm coles-targeting-ProductTileHat product-hat coles-targeting-ProductTileHat product-hat"
            data-testid="product-hat"></div>
        <div tabindex="0" class="sc-c17d1bb-11 tGtCV coles-targeting-ProductTileHeaderWrapper">
            <header class="product__header">
                <div class="product__image_area"><a tabindex="-1" class="product__link product__image"
                        aria-label="Western Star Original Salted Butter | 250g"
                        href="/product/western-star-original-salted-butter-250g-210590"><span
                            class="sc-51f151be-0 irGhqP"><img alt="" data-testid="product-image"
                                srcset="/_next/image?url=https%3A%2F%2Fproductimages.coles.com.au%2Fproductimages%2F2%2F210590.jpg&amp;w=256&amp;q=90 1x, /_next/image?url=https%3A%2F%2Fproductimages.coles.com.au%2Fproductimages%2F2%2F210590.jpg&amp;w=640&amp;q=90 2x"
                                src="https://www.coles.com.au/_next/image?url=https%3A%2F%2Fproductimages.coles.com.au%2Fproductimages%2F2%2F210590.jpg&amp;w=640&amp;q=90"
                                width="200" height="200" decoding="async" data-nimg="1"
                                style="color: transparent; height: auto; max-width: 100%; max-height: 100%;"></span></a>
                </div>
                <div class="product__message-title_area" aria-hidden="true">
                    <div class="sc-c17d1bb-21 ilSFvY product__link product__link__analytics product__link product__link__analytics"
                        tabindex="-1">
                        <h2 class="LinesEllipsis  product__title">Western Star Original Salted Butter | 250g<wbr></h2>
                    </div><span data-testid="down-down" class="sc-f4be1fe7-0 gXctFU product__badge product__badge"><span
                            class="roundel-text down-down">DOWN DOWN</span></span>
                    <div aria-hidden="true" class="product__pricing_area show-on-small-screen"
                        data-testid="small-screen-pricing">
                        <section class="sc-5fbea9b3-0 lcJbEb product__pricing product__pricing"
                            data-testid="product_price">
                            <div class="price"><span class="price__value" data-testid="product-pricing"
                                    aria-label="Price $4.50">$4.50</span>
                                <div class="sc-5fbea9b3-1 iTynCB"></div>
                            </div>
                            <div class="sc-79c0c972-0 jowmFP">
                                <div class="price__calculation_method">$1.80 per 100g<div class="price__was"><strong>Was
                                            $5.20 on Oct 2024</strong></div>
                                </div>
                            </div>
                        </section>
                        <div class="product__rating_area" data-testid="product-rating">
                            <div data-bv-show="inline_rating" data-bv-product-id="210590" data-bv-ready="true">
                                <div class="">
                                    <div id="def4ec0a-0349-4844-a9b6-48e5a19ce25c"
                                        class="bv_main_container bv_hover bv_hide_visibility">
                                        <div class="bv_stars_component_container" aria-hidden="true">
                                            <div class="bv_stars_button_container"><span class="bv_stars_svg_no_wrap"
                                                    aria-hidden="true"><svg focusable="false"
                                                        xmlns="http://www.w3.org/2000/svg" width="12px" height="12px"
                                                        viewBox="0 0 25 25"
                                                        style="width: 12px !important; height: 12px !important;">
                                                        <polygon points=""
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_0_0.00_0cWECctEPk&quot;) !important;">
                                                        </polygon>
                                                        <path
                                                            d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_0_0.00_0cWECctEPk&quot;) !important;">
                                                        </path>
                                                        <defs>
                                                            <linearGradient
                                                                id="bv_inline_ratings_star_filled_0_0.00_0cWECctEPk"
                                                                x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                <stop offset="0%"
                                                                    style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                                </stop>
                                                                <stop offset="1%"
                                                                    style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                                </stop>
                                                            </linearGradient>
                                                        </defs>
                                                    </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                        width="12px" height="12px" viewBox="0 0 25 25"
                                                        style="width: 12px !important; height: 12px !important;">
                                                        <polygon points=""
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_1_0.00_qmAJN3IucW&quot;) !important;">
                                                        </polygon>
                                                        <path
                                                            d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_1_0.00_qmAJN3IucW&quot;) !important;">
                                                        </path>
                                                        <defs>
                                                            <linearGradient
                                                                id="bv_inline_ratings_star_filled_1_0.00_qmAJN3IucW"
                                                                x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                <stop offset="0%"
                                                                    style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                                </stop>
                                                                <stop offset="1%"
                                                                    style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                                </stop>
                                                            </linearGradient>
                                                        </defs>
                                                    </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                        width="12px" height="12px" viewBox="0 0 25 25"
                                                        style="width: 12px !important; height: 12px !important;">
                                                        <polygon points=""
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_2_0.00_bOlWE80Le3&quot;) !important;">
                                                        </polygon>
                                                        <path
                                                            d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_2_0.00_bOlWE80Le3&quot;) !important;">
                                                        </path>
                                                        <defs>
                                                            <linearGradient
                                                                id="bv_inline_ratings_star_filled_2_0.00_bOlWE80Le3"
                                                                x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                <stop offset="0%"
                                                                    style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                                </stop>
                                                                <stop offset="1%"
                                                                    style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                                </stop>
                                                            </linearGradient>
                                                        </defs>
                                                    </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                        width="12px" height="12px" viewBox="0 0 25 25"
                                                        style="width: 12px !important; height: 12px !important;">
                                                        <polygon points=""
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_3_0.00_4L92zyPSvp&quot;) !important;">
                                                        </polygon>
                                                        <path
                                                            d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_3_0.00_4L92zyPSvp&quot;) !important;">
                                                        </path>
                                                        <defs>
                                                            <linearGradient
                                                                id="bv_inline_ratings_star_filled_3_0.00_4L92zyPSvp"
                                                                x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                <stop offset="0%"
                                                                    style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                                </stop>
                                                                <stop offset="1%"
                                                                    style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                                </stop>
                                                            </linearGradient>
                                                        </defs>
                                                    </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                        width="12px" height="12px" viewBox="0 0 25 25"
                                                        style="width: 12px !important; height: 12px !important;">
                                                        <polygon points=""
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_4_0.00_1MyG3llfoA&quot;) !important;">
                                                        </polygon>
                                                        <path
                                                            d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                            style="fill: url(&quot;#bv_inline_ratings_star_filled_4_0.00_1MyG3llfoA&quot;) !important;">
                                                        </path>
                                                        <defs>
                                                            <linearGradient
                                                                id="bv_inline_ratings_star_filled_4_0.00_1MyG3llfoA"
                                                                x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                <stop offset="0%"
                                                                    style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                                </stop>
                                                                <stop offset="1%"
                                                                    style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                                </stop>
                                                            </linearGradient>
                                                        </defs>
                                                    </svg></span></div>
                                        </div>
                                        <div class="bv_sub_container">
                                            <div class="bv_averageRating_component_container" aria-hidden="true">
                                                <div class="bv_text">0.0</div>
                                            </div>
                                            <div class="bv_numReviews_component_container" aria-hidden="true">
                                                <div class="bv_text">(0)</div>
                                            </div>
                                        </div>
                                        <div class="bv-off-screen">0.0 out of 5 stars. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="product__cta_section">
            <div aria-hidden="false" class="product__pricing_area hide-on-small-screen"
                data-testid="large-screen-pricing">
                <section class="sc-5fbea9b3-0 lcJbEb product__pricing product__pricing" data-testid="product_price">
                    <div class="price"><span class="price__value" data-testid="product-pricing"
                            aria-label="Price $4.50">$4.50</span>
                        <div class="sc-5fbea9b3-1 iTynCB"></div>
                    </div>
                    <div class="sc-79c0c972-0 jowmFP">
                        <div class="price__calculation_method">$1.80 per 100g<div class="price__was"><strong>Was $5.20
                                    on Oct 2024</strong></div>
                        </div>
                    </div>
                </section>
                <div class="product__rating_area" data-testid="product-rating">
                    <div data-bv-show="inline_rating" data-bv-product-id="210590" data-bv-ready="true">
                        <div class="">
                            <div id="28d04f5f-e0aa-4611-93d8-5ed269f38e2b"
                                class="bv_main_container bv_hover bv_hide_visibility">
                                <div class="bv_stars_component_container" aria-hidden="true">
                                    <div class="bv_stars_button_container"><span class="bv_stars_svg_no_wrap"
                                            aria-hidden="true"><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                width="12px" height="12px" viewBox="0 0 25 25"
                                                style="width: 12px !important; height: 12px !important;">
                                                <polygon points=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_0.00_b0DpACfZvH&quot;) !important;">
                                                </polygon>
                                                <path
                                                    d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_0.00_b0DpACfZvH&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient id="bv_inline_ratings_star_filled_0_0.00_b0DpACfZvH"
                                                        x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="12px"
                                                height="12px" viewBox="0 0 25 25"
                                                style="width: 12px !important; height: 12px !important;">
                                                <polygon points=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_0.00_AVBZnLWHRk&quot;) !important;">
                                                </polygon>
                                                <path
                                                    d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_0.00_AVBZnLWHRk&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient id="bv_inline_ratings_star_filled_1_0.00_AVBZnLWHRk"
                                                        x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="12px"
                                                height="12px" viewBox="0 0 25 25"
                                                style="width: 12px !important; height: 12px !important;">
                                                <polygon points=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_0.00_2tnRzunECZ&quot;) !important;">
                                                </polygon>
                                                <path
                                                    d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_0.00_2tnRzunECZ&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient id="bv_inline_ratings_star_filled_2_0.00_2tnRzunECZ"
                                                        x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="12px"
                                                height="12px" viewBox="0 0 25 25"
                                                style="width: 12px !important; height: 12px !important;">
                                                <polygon points=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_0.00_7mJPGzFXJm&quot;) !important;">
                                                </polygon>
                                                <path
                                                    d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_0.00_7mJPGzFXJm&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient id="bv_inline_ratings_star_filled_3_0.00_7mJPGzFXJm"
                                                        x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="12px"
                                                height="12px" viewBox="0 0 25 25"
                                                style="width: 12px !important; height: 12px !important;">
                                                <polygon points=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_0.00_fvoTLcbsdB&quot;) !important;">
                                                </polygon>
                                                <path
                                                    d="M24.8676481,9.0008973 C24.7082329,8.54565507 24.2825324,8.23189792 23.7931772,8.20897226 L16.1009423,8.20897226 L13.658963,0.793674161 C13.4850788,0.296529881 12.9965414,-0.0267985214 12.4623931,0.00174912135 L12.4623931,0.00174912135 C11.9394964,-0.00194214302 11.4747239,0.328465149 11.3146628,0.81767189 L8.87268352,8.23296999 L1.20486846,8.23296999 C0.689809989,8.22949161 0.230279943,8.55030885 0.0640800798,9.0294023 C-0.102119784,9.50849575 0.0623083246,10.0383495 0.472274662,10.3447701 L6.69932193,14.9763317 L4.25734261,22.4396253 C4.08483744,22.9295881 4.25922828,23.4727606 4.68662933,23.7767181 C5.11403038,24.0806756 5.69357086,24.0736812 6.11324689,23.7595003 L12.6333317,18.9599546 L19.1778362,23.7595003 C19.381674,23.9119158 19.6299003,23.9960316 19.8860103,23.9994776 C20.2758842,24.0048539 20.6439728,23.8232161 20.8724402,23.5127115 C21.1009077,23.202207 21.1610972,22.8017824 21.0337405,22.4396253 L18.5917612,14.9763317 L24.6967095,10.3207724 C25.0258477,9.95783882 25.0937839,9.43328063 24.8676481,9.0008973 Z"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_0.00_fvoTLcbsdB&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient id="bv_inline_ratings_star_filled_4_0.00_fvoTLcbsdB"
                                                        x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(224, 26, 34); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(204, 204, 204); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg></span></div>
                                </div>
                                <div class="bv_sub_container">
                                    <div class="bv_averageRating_component_container" aria-hidden="true">
                                        <div class="bv_text">0.0</div>
                                    </div>
                                    <div class="bv_numReviews_component_container" aria-hidden="true">
                                        <div class="bv_text">(0)</div>
                                    </div>
                                </div>
                                <div class="bv-off-screen">0.0 out of 5 stars. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-testid="product-tile-cta-content" class="sc-bfbf495-0 gCBHbC">
                <div class="unavailable-container hide-on-small-screen">
                    <div aria-hidden="false" class="similar-product-unavailable hide-on-small-screen"
                        data-testid="large-screen-similar-product-unavailable"></div>
                </div>
                <div class="sc-c17d1bb-7 eMeNVm product__lists_cta_wrapper" data-testid="product-lists-cta-wrapper">
                    <button aria-label="save to list Original Salted Butter" data-testid="list-button" data-icon="list"
                        class="sc-745d6c85-0 sc-2aa73afb-0 oGIDa dEHgoo coles-targeting-ButtonButton button iconOnly coles-targeting-ButtonButton button iconOnly"><span
                            aria-hidden="false"
                            class="sc-d1851dcf-0 dkuWoK coles-targeting-ButtonButtonChildContainer"><svg
                                focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" vector-effect="non-scaling-stroke"
                                        d="M5,4 L19,4 L19,18 C19,19.6568542 17.6568542,21 16,21 L8,21 C6.34314575,21 5,19.6568542 5,18 L5,4 L5,4 Z M16,3 L16,5 M12,3 L12,5 M8,3 L8,5 M9,9 L15,9 M9,13 L15,13 M9,17 L12,17">
                                    </path>
                                </g>
                            </svg></span></button>
                    <div class="sc-c17d1bb-5 dzSCkj">
                        <div data-testid="add-to-cart"
                            class="sc-bf481072-0 fCzbIR product__add_to_cart product__add_to_cart"><button
                                data-testid="add-to-cart-button"
                                aria-label="Add Western Star Original Salted Butter to the trolley"
                                class="sc-745d6c85-0 kXjmbO product-tiles-btn coles-targeting-ButtonButton button "><span
                                    aria-hidden="false"
                                    class="sc-d1851dcf-0 ivDnVb coles-targeting-ButtonButtonChildContainer"><svg
                                        focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24">
                                        <g fill="none" fill-rule="evenodd">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" vector-effect="non-scaling-stroke"
                                                d="M8,22 C8.55228475,22 9,21.5522847 9,21 C9,20.4477153 8.55228475,20 8,20 C7.44771525,20 7,20.4477153 7,21 C7,21.5522847 7.44771525,22 8,22 Z M18,22 C18.5522847,22 19,21.5522847 19,21 C19,20.4477153 18.5522847,20 18,20 C17.4477153,20 17,20.4477153 17,21 C17,21.5522847 17.4477153,22 18,22 Z M2,3 L4.5,3 L6.68,14.39 C6.86873697,15.3402315 7.71138394,16.0185624 8.68,16 L17.4,16 C18.3686161,16.0185624 19.211263,15.3402315 19.4,14.39 L21,7 M13,12 L13,6 M10,9 L16,9">
                                            </path>
                                        </g>
                                    </svg>Add</span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>