<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sc-9cf71633-1 ecHFET" data-dashlane-rid="19fc3ad391268245" data-dashlane-classification="other">
        <div id="coles-targeting-main-container" tabindex="-1"
            class="sc-9cf71633-0 kNeoNW coles-targeting-StoreLayoutMain">
            <div class="sc-dfb1482a-0 hTWXG coles-targeting-StylesProductDetailStylesPdpContainer">
                <div class="sc-dfb1482a-1 cfAAQa coles-targeting-StylesProductDetailStylesBreadcrumbsWrapper">
                    <ol aria-label="breadcrumb" data-testid="breadcrumbs" itemscope=""
                        itemtype="https://schema.org/BreadcrumbList"
                        class="sc-c90b3ee2-0 dWuOFV coles-targeting-BreadcrumbsList">
                        <li class="sc-c90b3ee2-1 eakUSm child-1 child-1" itemprop="itemListElement" itemscope=""
                            itemtype="https://schema.org/ListItem"><a itemprop="item"
                                class="sc-856ff560-0-Component kFvJYH coles-targeting-LinkLinkInternal link"
                                tabindex="0" target="" itemtype="https://schema.org/WebPage" href="/browse"
                                data-di-id="di-id-84fbd3b7-784eb8b5"><span itemprop="name">All categories</span></a>
                        </li>
                        <li class="sc-c90b3ee2-1 eakUSm child-3 child-3" itemprop="itemListElement" itemscope=""
                            itemtype="https://schema.org/ListItem"><a itemprop="item"
                                class="sc-856ff560-0-Component kFvJYH coles-targeting-LinkLinkInternal link"
                                tabindex="0" target="" itemtype="https://schema.org/WebPage"
                                href="/browse/deli/deli-meats" data-di-id="di-id-46850078-ab333826"><span
                                    itemprop="name">Deli Meats</span></a>
                        </li>
                        <li class="sc-c90b3ee2-1 eakUSm child-4 child-4" itemprop="itemListElement" itemscope=""
                            itemtype="https://schema.org/ListItem"><a itemprop="item"
                                class="sc-856ff560-0-Component kFvJYH coles-targeting-LinkLinkInternal link"
                                tabindex="0" target="" itemtype="https://schema.org/WebPage"
                                href="/browse/deli/deli-meats/chicken-turkey" data-di-id="di-id-2655e7c7-bd3f13f6"><span
                                    itemprop="name">Chicken &amp;
                                    Turkey</span></a>
                            <meta itemprop="position" content="5">
                        </li>
                    </ol>
                </div>
                <div class="sc-dfb1482a-2 hkIBhS coles-targeting-StylesProductDetailStylesBannerWrapper"></div>
                <div class="sc-dfb1482a-9 jCDIuv coles-targeting-StylesProductDetailStylesProductCTAWrapper">
                    <div class="sc-500ab215-0 hvUeUS coles-targeting-ProductTileHat product-hat is-special coles-targeting-ProductTileHat product-hat is-special"
                        data-testid="product-hat">Special</div>
                    <div data-testid="product-buy"
                        class="sc-c8034636-0 iZbsmZ coles-targeting-ProductBuyProductBuyContainer">
                        <ul class="product__top_messaging">
                            <li class="product__top_messaging__item"><a
                                    class="sc-856ff560-0-Component eHgSQm sc-c8034636-3 dSdmVT brand-link sc-c8034636-3 dSdmVT brand-link"
                                    data-testid="brand-link" tabindex="0" target="" href="/brands/steggles-441174540"
                                    data-di-id="di-id-b9633763-c8d1668">Steggles</a></li>
                        </ul>
                        <h1 class="LinesEllipsis  product__title" data-testid="title">Steggles Roasted Turkey Breast
                            From The Deli | approx 100g<wbr></h1>
                        <section class="sc-5fbea9b3-0 lcJbEb" data-testid="product_price">
                            <div class="price"><span class="price__value" data-testid="pricing"
                                    aria-label="Price $2.50">$2.50</span><span data-testid="badge-wrapper"
                                    type="savings" class="sc-54c91287-0 ixaypx badge is-small badge is-small">
                                    <section aria-label="" class="badge-label">Save $0.40</section>
                                </span>
                                <div class="sc-5fbea9b3-1 iTynCB"></div>
                            </div>
                            <div class="sc-79c0c972-0 jowmFP">
                                <div class="price__calculation_method">$25.00 per 1kg<span class="price__was"> | Was
                                        $2.90</span></div>
                            </div><span class="price__calculation_method__description">Final price is based on
                                weight</span>
                        </section>
                        <div data-testid="bazaar-voice-star-rating" data-bv-show="rating_summary"
                            data-bv-product-id="1202102" data-bv-ready="true"><span></span></div>
                        <div class="sc-c8034636-8 jtYqoH coles-targeting-ProductBuyCtaButtonContainer">
                            <div data-testid="buttons"
                                class="sc-c8034636-2 kozGzG coles-targeting-ProductBuyButtonContainer">
                                <div data-testid="add-to-cart" class="sc-bf481072-0 fCzbIR"><button
                                        data-testid="add-to-cart-button"
                                        aria-label="Add Steggles Roasted Turkey Breast From The Deli to the trolley"
                                        class="sc-745d6c85-0 kXjmbO pdp-btn coles-targeting-ButtonButton button "><span
                                            aria-hidden="false"
                                            class="sc-d1851dcf-0 ivDnVb coles-targeting-ButtonButtonChildContainer">Add
                                            to trolley</span></button></div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 40px;">
                        <div class="sc-708a430f-0 lmQWIO"></div>
                    </div>
                </div>
                <div class="sc-dfb1482a-10 fPIgaE coles-targeting-StylesProductDetailStylesProductDetailsWrapper">
                    <div class="sc-4371e03a-0 kSMoWS coles-targeting-ProductDetailsContainer">
                        <div class="sc-64566711-0 jnusdo product-details product-details" data-testid="section-header">
                            <div class="sc-64566711-1 hHVJRO coles-targeting-SectionHeaderLeftSection">
                                <h2 class="sc-64566711-2 dcuSvq coles-targeting-SectionHeaderTitle">Product details
                                </h2>
                                <div class="sc-64566711-3 iaOcFM coles-targeting-SectionHeaderDescription">
                                    <div>
                                        <div data-testid="read-more-content" id="read-more-content-:r2:" tabindex="-1"
                                            class="sc-be4da505-0 lgylVb">
                                            <div>Turkey breast fillets, marinated for tenderness and fully cooked
                                                for your convenience. Slice and serve chilled. Ideal for sandwiches,
                                                wraps, focaccias and antipasto platters</div>
                                        </div><button data-testid="read-more-button"
                                            aria-controls="read-more-content-:r2:" aria-expanded="false"
                                            class="sc-856ff560-0 sc-856ff560-1 dsbjqm gVzeRG coles-targeting-LinkLinkInternal link coles-targeting-LinkLinkInternal link"
                                            tabindex="0" target="" style="margin-top: 0.5rem;">Read more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>